.board {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  &-row:after {
    clear: both;
    content: '';
    display: table;
  }

  &-status {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    box-shadow: 1px 2px 1px rgba(200,200,200,0.8);
    margin: 2rem;
    padding: 1rem;
  }
}
