.square {
  background: #fff;
  border: 3px solid #999;
  float: left;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 34px;
  height: 10vh;
  padding: 0;
  text-align: center;
  width: 10vw;

  &:focus {
    outline: none;
  }

  .kbd-navigation &:focus {
    background: #ddd;
  }
}
